MIMIC4_EHR_DATA_PATH="path/to/parent/folder"
MIMIC4_EHR_D_ICD_PROCEDURES="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_ICD_DIAGNOSES="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_HCPCS="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_LABITEMS="path/to/compressed/mapping/csv"
