MIMIC4_EHR_DATA_PATH="path/to/parent/folder"
MIMIC4_EHR_D_ICD_PROCEDURES="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_ICD_DIAGNOSES="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_HCPCS="path/to/compressed/mapping/csv"
MIMIC4_EHR_D_LABITEMS="path/to/compressed/mapping/csv"

# Match to own machine
POLARS_MAX_THREADS=4
POLARS_ROW_GROUP_PREFETCH_SIZE=2
POLARS_NUM_READER_PRE_INIT=1
POLARS_MAX_CONCURRENT_SCANS=1
POLARS_PREFETCH_SIZE=1
